body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
	background-color: #f0c040; /* or match the figure */
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
	background-color: #aad9e7;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 3fr 1fr; /* Two equal-width columns */
    gap: 1rem;
}


h2 {
	color: navy;
	text-align: left;
    grid-column: span 2;
}

article p {
    text-align: justify;
    display: grid;
  
}

.callout {
	color: #3e3e3e;
	background-color: #e0dbdb;
    padding: 1rem;
    grid-column: span 2;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}
