body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
  }

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: acme, Arial, sans-serif;
}

h1 {
	text-align: center;
	padding: 0.5rem;
}

p {
	text-align: center;
}

main {
	margin: 1rem;
	border: 1px solid rgb(0 0 0 / .2);
	padding: 1rem;
	background-color: #eee;
}

.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #333;
	align-items: center;
}
.navigation li {
	flex: 1 1 auto; /* What is the difference between auto and 100% flex-basis? - turn on link borders to view */
}
.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}
  
.header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 4;
  }
 
  .left-side {
    background: lightblue;
    grid-column: 1 / 2;
  }
  
  .main {
    background: coral;
    grid-column: 2 / 3;
  }
  
  .right-side {
    background: yellow;
    grid-column: 3 / 4;
  }
  
  footer {
    background: wheat;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  .left-side,
  .right-side,
  .main,
  .footer {

    padding: 2rem;
  }
  